.calendar-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 0;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  background-color: #041C32;
  margin: 0;
  padding: 0;
  border-right: 1px solid #041C32;

  > li {
    width: calc((100% / 7) - 1px);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    border-left: 1px solid #fff;

    &:first-child {
      border-left: 1px solid #041C32;
    }
  }
}

.calendar-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #041C32;
  border-right: 1px solid #041C32;

  > li {
    width: calc((100% / 7) - 1px);
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: #2d2d2d;
    border-left: 1px solid #041C32;
    border-top: 1px solid #041C32;
    height: 100px;
    overflow: hidden;
    position: relative;

    &.grey {
      background-color: #eaeaea;
      color: #808080;
    }

    &.cyan {
      background-color: #CAF0F8;

      .date {
        font-weight: 700;
      }
    }

    .event {
      width: 100%;
      height: 20px;
      background-color: #CAF0F8;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 0 3px;
      color: #041C32;
      z-index: 9;
      position: absolute;
      left: 0;
      
      &.green {
        background-color: #4E944F;
        color: #fff;
        top: 35px;
      }
      &.yellow {
        background-color: #FFD124;
        top: 57px;
      }
      &.orange {
        color: #fff;
        background-color: #E8630A;
        top: 79px;
      }
      p {
        font-size: 12px;
        margin: 0 0 0 5px;
        font-weight: 700;
      }
    }
  }
}

.calender-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  .calendar-month {
    font-size: 18px;
    color: #041C32;
    font-weight: 700;
  }
}